{% extends 'customer/base.html' %}

{% block  content %}
<div class='container'>
    <div class='row justify-content-center pt-5'>
        <div class='card col-md-8 col-sm-12 text-center'>
             Global Bites is a unique culinary experience that brings the flavors of the world to your doorstep. Our mission is to take you on a journey around the globe through the art of small plates. We are passionate about showcasing the diverse cuisines and cultures of different countries, and we believe that food is one of the best ways to connect people.

                To keep things fresh and exciting, we change our menu every three months, which means that we showcase four different cuisines each year. Our commitment to rotating our menu ensures that our customers can always expect something new and exciting on their plate.
                
                We take inspiration from the vibrant and diverse cultures of different countries, and our dishes are crafted with care and attention to detail. From the fragrant spices of the Middle East to the fresh flavors of Southeast Asia, our dishes are carefully crafted to transport you to another part of the world with every bite.
                
                And with our online ordering system, it's never been easier to experience the world of small plates from the comfort of your own home. So whether you're a seasoned foodie or simply looking to try something new, we invite you to join us on our culinary journey with Global Bites.
                 
        </div>
    </div>
</div>
{% endblock content %}