{% extends 'customer/base.html' %}
{% block  content %}
    <div class="container-fluid" id="front-page">
        
        <div class="row justify-content-center">
            <div class="col-md-2 col-sm-12 p-4 my-5 text-center bg-white">
                <h2>This Season <br> Middle East Mezze</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card col-md-2 col-sm-12 p-4 text-center bg-white">
                <h2>Place an Order!</h2>
                    <a href="{% url 'order' %}" class="btn btn-primary">Order Now!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}