
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Poppins:wght@300;400&display=swap');



/* Background Image */
#hero-image {
    background: url('hero-image.png');
    width: 100%;
    
}

/* Headings */
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

h2, h3 , h4, h5 , h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
}